html
{
    background-color: darkgray;
}
h1
{
    font-size: large;
    color: black;
    text-align: center;
}
body
{
    background-color: gold;
    color: black;
    width: 70%;
    padding: 7px;
    margin: auto;
}